<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Component</title>
    <link href="./image.css" rel="stylesheet">
</head>

<body>
    <h1>Image Components</h1>
    <h2 class="component-name">Image Components</h2>
    <h3 class="component-name" style="background-color: rgb(52, 151, 233);">Large Image</h3>
    <div class="component-wrapper">
        <div class="img-container">
            <img src="https://picsum.photos/400/200" alt="sample image" title="sample image">

        </div>
    </div>

    <h3 class="component-name" style="background-color: rgb(52, 151, 233);">Medium Sized Image</h3>
    <div class="component-wrapper">
        <div class="img-md ">
            <img class="img-square" src="https://picsum.photos/600" alt="sample image" title="sample image">
        </div>
        <div class="img-md img-round">
            <img class="img-round" src="https://picsum.photos/600" alt="sample image" title="sample image">
        </div>
    </div>

    <h3 class="component-name" style="background-color: rgb(52, 151, 233);">Small Sized Image</h3>
    <div class="component-wrapper">
        <div class="img-small ">
            <img class="img-square" src="https://picsum.photos/600" alt="sample image" title="sample image">
        </div>
        <div class="img-small img-round">
            <img class="img-round" src="https://picsum.photos/600" alt="sample image" title="sample image">
        </div>
    </div>




</body>

</html>