@import url("/root.css");

img{
   
    width: 100%;
    /* height:100%; */
    object-fit: cover;
} 

.img-container{
    width: 80%;
    height:80%;  
    margin: auto;
} 

.img-md{
    max-width: 20rem;
}


.img-small{
    max-width: 5rem;
}

.img-square{
    border-radius: 20%;
}

.img-round{
    border-radius: 50%;
}