@import url("/components/main.css");

:root{
    --primary-color:rgba(20, 182, 247, 0.767);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.main-title{
    text-align: center;
    padding: 1rem;
    font-size:1.5rem;
    background-color: aqua;
}

h1{
    text-align: center;
    padding: 2rem;
}

section{
    padding: 1rem;
    background-color: var(--primary-color);
}
