@import url("/components/main.css");

@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;600&display=swap');


:root{
    --primary-color:rgba(20, 182, 247, 0.767);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body{
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
/* from technical documentation */
    min-width: 290px;
    color: #303135;
    background-color: white;
    font-family: 'Lora', serif;
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}

.main-title{
    text-align: center;
    padding: 1rem;
    font-size:1.5rem;
    background-color: aqua;
}

/* from technical documentation */

header {
    /* margin: 10px; */
    font-size: 1.8em;
    background-color: white;
    padding: 1rem;
}

nav {
    display: block;
}

#navbar {
    position: fixed;
    background-color: white;
    top: 0px;
    left: 0px;
    margin-bottom: 2rem;
    width: 300px;
    height: 100%;
    min-width: 290px;
    border-right: solid;
    border-color: rgb(128, 126, 126);
}

@media only screen and (max-width: 845px) {
    #navbar {
        width: 100%;
        margin: 0;
        padding: 0;
        max-height: 275px;
        position: absolute;
        top: 0;
        border: none;
        /* border-bottom : 2px solid; */
        z-index: 1;
    }

    body {
        font-size: 1rem;
    }

}

#navbar ul {
    list-style: none;
    display: block;
    padding: 2rem;
    height: 88%;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: #4d4e53;

    border-top: 1px solid;
    border-color: rgb(151, 148, 148);
    /* border-width: 1rem; */
    width: 100%;
    padding: 1rem;

}

section {
    display: block;


}


#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}


@media only screen and (max-width: 845px) {
    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 370px;

    }
}


main {
    display: block;
}



#main-doc header {
    margin: 0px;
    text-align: left;
}

section article {
    color: rgb(123, 127, 128);
    margin: 12px;

}

a {
    text-decoration: none;
    color: rgb(71, 69, 67);
}

code {
    background-color: rgb(211, 211, 218);
    text-align: left;
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    display: block;
    white-space: pre-line;
    
    /* overflow-y: scroll; */
}
iframe{
    background-color: rgb(211, 211, 218);
    text-align: left;
    color: black;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    display: block;
    white-space: pre-line;
     

}

#last-link {
    padding-bottom: 5rem;

}