@import url("components/main.css");
@import url("/root.css");

/* for this home page */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    background-color:rgba(215, 242, 247, 0.562);
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem ;
    color: blue;
}

.left-nav{
    font-size: 2rem;
}

.right-nav{
    font-size: 1.2rem;
}

li{
    display: inline;
    margin: 1rem;
}

.hero-img{
    
    padding-top: 5rem;
    max-width: 350px;
    margin: auto;
    display: block;
}

.hero-heading{
    text-align: center;
    color: blue;
    font-size: 3rem;
}

.subheading{
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding: 1rem;
}

.button-section{
    text-align: center;

}
a{
    text-decoration: none;
    color: white;
}
footer{
    margin: auto;
    background-color: aliceblue;
    margin-top: 2rem;
    

}

.footer-ul{
    text-align: center;
    padding-bottom: 1rem;
}