:root{
    --primary-color:rgba(20, 182, 247, 0.767);
    --wrapper-background-color:rgb(192, 210, 228);
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.component-wrapper{
    background-color: var(--wrapper-background-color);
    margin: 1rem;
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;

}