<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert Component</title>
    <link href="./alert.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
    <h2 class="component-name">Alert Components</h2>
    <div class="component-wrapper">

        <div class="component-name-title">Primary Alert</div>
        <div class="alert alert-primary1">Primary Alert : This is primary alert 1<span class="fa fa-close w3-large close"></span> </div>
      
        <div class="alert alert-primary2">Primary Alert : This is primary alert 2<span class="fa fa-close w3-large close"></span> </div>


        <div class="component-name-title">Secondary Alert</div>
        <div class="alert alert-secondary1">Secondary Alert : This is secondary alert 1<span class="fa fa-close w3-large close"></span> </div>
      
        <div class="alert alert-secondary2">Secondary Alert : This is secondary alert 2<span class="fa fa-close w3-large close"></span> </div>


        <div class="component-name-title">Danger Alert</div>
        <div class="alert alert-danger1">Danger Alert : This is danger alert 1<span class="fa fa-close w3-large close"></span> </div>

        <div class="alert alert-danger2">Danger Alert : This is danger alert 2<span class="fa fa-close w3-large close"></span> </div>

        <div class="component-name-title">Success Alert</div>
        <div class="alert alert-success1">Success Alert : This is success alert 1<span class="fa fa-close w3-large close"></span> </div>

        <div class="alert alert-success2">Success Alert : This is success alert 2<span class="fa fa-close w3-large close"></span> </div>
        
    </div>
   

    
</body>
</html>