<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Button Component</title>
    <link href="./button.css" rel="stylesheet">
   
</head>
<body>
    <h1>Button Compponent</h1>
    <h2 class="component-name">Button  Components</h2>
    <h3 class="component-name" style="background-color: rgb(52, 151, 233);">Solid Buttons</h3>
    <div class="component-wrapper">
        
         <button class="btn btn-primary">Primary</button>
         <button class="btn btn-secondary">Secondary</button>
         <button class="btn btn-danger">Danger</button>
         <button class="btn btn-disabled" disabled>Disabled</button>
    </div>
</body>
</html>