<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Component</title>
    <link href="./input.css" rel="stylesheet">
</head>
<body>
    
    <h1> Input Component</h1>
    <h2 class="component-name">Input Component</h2>
    <h3 class="component-name" style="background-color: rgb(52, 151, 233);">Basic Input</h3>
    <div class="component-wrapper">
        <div class="input-div">
            <input type="text" placeholder="Enter your name">
            <button class="btn btn-primary ">Primary</button>
        </div>
    </div>

</body>
</html>