<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Component</title>
    <link href="./input.css" rel="stylesheet">
</head>
<body>
    
    <h1> Input Component</h1>
    <h2 class="component-name">Input Component</h2>
    <h3 class="component-name" style="background-color: rgb(52, 151, 233);">Basic Input</h3>
    <div class="component-wrapper">
        <form class="form">
            <input class="input" placeholder="Enter Email Id" type="email">
            <input class="input" placeholder="Enter Password" type="password">
            <button class="btn btn-primary">Sign Up</button>
            
        </form>

        <form class="form">
            <span class="error-message">Either email or Password is wrong, Try again</span>
            <input class="input input-error" placeholder="Enter Email Id" type="email">
            <input class="input input-error" placeholder="Enter Password" type="password">
            <button class="btn btn-disabled">Sign Up</button>
            
        </form>

        <div class="textarea-wrapper">
            <textarea class="textarea"></textarea>
            <button class="btn btn-primary"></button>
        </div>

    </div>

</body>
</html>