<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <link href="./avatar.css" rel="stylesheet">
</head>

<body>
    <h1>Avatar</h1>
    <div class="component-wrapper">
        <span class="avatar avater-extra-large">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
        </span>
        <span class="avatar avatar-large">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
        </span>
        <span class="avatar avatar-medium">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
        </span>
        <span class="avatar avatar-small">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
        </span>
        <span class="avatar avatar-extra-small">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
        </span>

    </div>
</body>

</html>