
@import url("/root.css");

img{
    max-width: 100%;
    max-height: 100%;
    
 }

 /* -------------------------------------avatar styling */
.avatar{
    position: relative;
    margin: 2rem;
}

.avater-extra-large{
   max-height: 17rem;
    max-width: 17rem;

}

.avatar-large{
    max-height: 14rem;
    max-width: 14rem;
}

.avatar-medium{
    max-height: 10rem;
    max-width: 10rem;
  
}

.avatar-small{
    max-height: 5rem;
    max-width: 5rem;
}


.avatar-extra-small{
    max-height: 3rem;
    max-width: 3rem;

}

/* ----------------------------------------Badge styling */
.badge{
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

.badge-medium{
    background-color: #59e627;
    height: 2rem;
    width: 2rem;
    border-radius: 15rem;
}

.badge-small{
    background-color: red;
    height: 2rem;
    width: 2rem;
    border-radius: 15rem;
}

.badge-extra-small{
    background-color: grey;
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 15rem;
}

/* -------------------------------material icon styling */
.icons{
    font-size: 3rem;
    position: relative;
    margin: 2rem;
}

.badge-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.2rem;
    right: 0rem;
    background-color: red;
    /* height: 1.5rem; */
    min-width: 1.5em;
    border-radius: 15rem;
    font-size: 15px;
    color: yellow;
    text-align: center;
   
}