<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <link href="./badge.css" rel="stylesheet">
    
</head>
<body>
    <h1>Badge</h1>
    <h2 class="component-name">Bage on Avatars</h2>
    <div class="component-wrapper">
        <!-- <span class="avatar avater-extra-large">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
        </span>
        <span class="avatar avatar-large">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
        </span> -->
       
        <span class="avatar avatar-medium">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
            <div class="badge badge-medium"></div>
        </span>
        <span class="avatar avatar-small">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
            <div class="badge badge-small"></div>
        </span>
        <span class="avatar avatar-extra-small">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
            <div class="badge badge-extra-small"></div>
        </span>
       
    </div>
</body>
</html>