<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badge</title>
    <link href="./badge.css" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>Badge</h1>
    <h2 class="component-name">Badge on Avatars</h2>
    <div class="component-wrapper">
        <!-- badge on avatar -->
        <span class="avatar avatar-medium">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
            <div class="badge badge-medium"></div>
        </span>
        <span class="avatar avatar-small">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
            <div class="badge badge-small"></div>
        </span>
        <span class="avatar avatar-extra-small">
            <img src="../../assets/avatar.svg" alt="an avatar image" />
            <div class="badge badge-extra-small"></div>
        </span>
       
    </div>

    <h2 class="component-name">Badge on Icons</h2>
    <div class="component-wrapper">
        <!-- badge on icons -->
        <div class="icons">
            <span  class="fa fa-bell"></span>
            <div class="badge-icon">2</div>
        </div>
        <div class="icons">
            <span  class="fa fa-envelope"></span>
            <div class="badge-icon">22</div>
        </div>
        <div class="icons">
            <span  class="fa fa-car"></span>
            <div class="badge-icon">+2</div>
        </div>
        <div class="icons">
            <span  class="fa fa-comment"></span>
            <div class="badge-icon">122</div>
        </div>
        <div class="icons">
            <span  class="fa fa-phone"></span>
            <div class="badge-icon">22</div>
        </div>
       
       
       
       
       
    </div>
</body>
</html>