<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Component</title>
    <link href="./card.css" rel="stylesheet">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <h1>Card Component</h1>
    <h2 class="component-name">Card  Components</h2>
    <h3 class="component-name" style="background-color: rgb(52, 151, 233);">Horizontal Cards</h3>
    <div class="component-wrapper">
        <div class="card card-horizontal">
            <img src="../../assets/turtle.jpg" title="sample image" alt="sample image" >
            <div class="card-content">
                <h1 class="card-title">SaveTurtle</h1>
                <p class="card-description">Sea turtles play vital roles in the health of our oceans and on land. Each of the 7 species provides critical activities which has a domino effect on many species in the ocean and the land.</p>
                <div class="card-footer">
                    <span class="fa fa-heart w3-large"></span>
                    <span class="fa fa-comment"></span>
                    <span class="fa fa-share"></span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>