@import url("/root.css");

/* 
Cards with badges
Cards with dismiss
Cards with text overlay
Text only cards
Vertical/Horizontal cards
Cards with shadow
 */

.card{
    background-color: orange;
    padding: 10px;
    display: flex;
}

.card-horizontal{
    
}

 img{
     width: 5rem;
     height: 5rem;
 }